<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}
<!-- Название у нас будет New -->
{% block title %}Post{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post_data.caption }}</h1>
<h6>Published: {{ post_data.time_create|date:'d.M.Y' }}; Author: {{ post_data.author.username }}</h6>
<hr>
<p>{{ post_data.text|safe }}</p>

{% if user.is_authenticated %}
<button><a href="{{ post_data.id }}/edit/" >EDIT</a></button> <button><a href="{{ post_data.id }}/delete/">DELETE</a></button>
<hr>
<h3>Reply:</h3>
<form action="" method="post">
    {% csrf_token %}
    <p><textarea required rows="5" cols="85" name="text"></textarea></p>
    <p><input type="submit" value="REPLY"></p>
</form>

{% else %}

<hr>
<h3>SignUp/Register for make Reply</h3>

{% endif %}



{% endblock content %}