<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}


<!-- Название у нас  -->
{% block title %}  Posts {% endblock title %}

<!-- В контенте на странице мы выводим все -->
{% block content %}

<h1>All posts</h1>

<h4>Total: {{ posts|length }}</h4>

   <hr>
   {% if posts %}

           {% for post in posts %}

                 <h5><a href="/post/{{ post.id }}">{{ post.caption }}</a></h5>
                      Published: {{ post.time_create|date:'d.M.Y' }}
                       {{ post.text|safe }}
                 <hr>
           {% endfor %}

   {% else %}
       <h2>There is nothing!</h2>
   {% endif %}


{% endblock content %}